/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Mar-2018, 13:30:38
    Author     : K1606286
*/

body {
    background-color: white;
    text-align: center;
}

/*header*/

h1 {
     color: Black;
     text-align: center;
     font-size: 40px;
     font-family: verdana;
}

h2 {
     color: Black;
     text-align: center;
     font-size: 25px;
     font-family: verdana;
}

/*main logo*/
#find{
    display: block;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    float: left;
}

/*main table*/
table#mainTable{
    margin-left: auto;
    margin-right: auto;
}
table#mainTable,tr,td {
   border: 0px;
   width: 200px;
   align: center; 
   
}

table#botNav{
    margin-left: auto;
    margin-right: auto;
}
table#botNav,tr,td {
    border: 0px;
    width: 785px;
    align: centre; 
}

