/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2019, 19:24:44
    Author     : k1423138
*/#resultTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    #resultTable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #resultTable tr:nth-child(even){background-color: #f2f2f2;}

    #resultTable tr:hover {background-color: #ddd;}

    #resultTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
    
     #navBar  {
	position:absolute;
	display: inline-block;
	margin-bottom:0 auto;
	padding: 0;
	background-color:transparent;
}
    #navBar a {
        margin:auto;
	padding: 14px;
	background-color:transparent;
        color:#000;
	text-decoration: none;
    }

 
    #navBar h4 {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
        color: #666;
        text-align: center;
        padding: 14px 16px;
    }
    
   #navBar a.active {
	background-color:#555;
	color:#FFF;
}

    #navBar a:hover:not(.active) {
	background-color: #999;
    color: #FFF;
    
    
    }
